@use "../variables/colors";

.error {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: colors.$color--red;
  background: transparent;
}
